# Django
DOCKER_SECRET_KEY=YOUR_SECRET_KEY_HERE
DOCKER_DEBUG=False
DOCKER_ALLOWED_HOSTS=<YOUR-HOST-IP>,localhost,127.0.0.1


# Datenbank 
DOCKER_DB_NAME=djangodb
DOCKER_DB_USER=djangouser
DOCKER_DB_PASSWORD=YOUR_SECURE_PW_HERE (Must Match With POSTGRES_PASSWORD)
DOCKER_DB_HOST=db
DOCKER_DB_PORT=5432

POSTGRES_DB=djangodb
POSTGRES_USER=djangouser
POSTGRES_PASSWORD=YOUR_SECURE_PW_HERE

# Email
DOCKER_EMAIL_HOST_USER=example@gmail.com
DOCKER_EMAIL_HOST_PASSWORD=MySecureEmailPassword123!

# Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=securePW123!
