# Django
DOCKER_SECRET_KEY=YOUR_SECRET_KEY_HERE

# Datenbank 
DOCKER_DB_NAME=djangodb
DOCKER_DB_USER=djangouser
DOCKER_DB_PASSWORD=kJ8mP2xQnL9vR4wT7yZ3aB6cD1eF0gH5
DOCKER_DB_HOST=db
DOCKER_DB_PORT=5432

POSTGRES_DB=djangodb
POSTGRES_USER=djangouser
POSTGRES_PASSWORD=kJ8mP2xQnL9vR4wT7yZ3aB6cD1eF0gH5

# Email
DOCKER_EMAIL_HOST_USER=example@gmail.com
DOCKER_EMAIL_HOST_PASSWORD=MySecureEmailPassword123!

# Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=securePW123!